/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: grid;
  gap: 40px;
  background: var(--background-color) var(--background-image) no-repeat center / cover fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content min-content;
  height: 100vh;
  min-height: 668px;
}

.header::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--rec-color);
  border-right: 1px solid var(--rec-color);
}

.header::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--rec-color);
  border-left: 1px solid var(--rec-color);
}

.footer::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--rec-color);
  border-right: 1px solid var(--rec-color);
}

.footer::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--rec-color);
  border-left: 1px solid var(--rec-color);
}

.decorative-text {
  position: absolute;
  top: 10px;
  right: 38px;
  justify-self: end;
  margin-bottom: 40px;
  color: var(--accent-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  line-height: 25px;
}

.decorative-text::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-top: 7px;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  padding: 10px 10px 0px 0px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  display: inline-block;
  min-width: 70px;
  min-height: 26px;
  border: 1px solid transparent;
  color: var(--nav-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--btn-active-visible-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--btn-hover-color);
}

.header__theme-menu-button:active {
  border: 1px solid var(--btn-active-visible-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom-color: var(--btn-active-visible-color);
  outline: none;
}

.header__title {
  margin-left: 10px;
  color: var(--header-footer-color);
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__paragraph {
  justify-self: center;
  align-self: start;
  max-width: 355px;
  margin: 55px 0px 66px;
  padding: 0px;
  color: #000028;
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.main {
  display: grid;
  gap: 50px;
  padding: 0px 10px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--title-color);
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: 23.4px;
}

.section__article {
  display: grid;
  gap: 20px;
}

.section__article-card-title {
  margin-bottom: 10px;
  color: #000028;
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: 23.4px;
  background-color: var(--accent-color);
  block-size: min-content;
}

.section__article-card-paragraph {
  color: var(--secondary-color);
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: 23.4px;
}

.main a {
  text-decoration: none;
  text-shadow: 1.5px 1.5px 0 var(--accent-color);
}

.main a:hover {
  border-bottom: 1px solid var(--secondary-color);
}

.main a:focus-visible {
  border: 1px solid var(--secondary-color);
  outline: none;
}

.card__title_font_normal {
  margin-top: -11px;
  font-weight: 400;
}

.section__article-img {
  max-width: 355px;
}

.img-article {
  gap: 10px;
}

.img-title {
  margin-bottom: 0px;
}

.footer {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-height: max(668px, 100vh);
}

.footer__title {
  grid-row: 2;
  padding-left: 15px;
  color: var(--header-footer-color);
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: var(--font-size-mobile);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .page {
    gap: 60px;
  }

  .header {
    grid-template-rows: 1fr 1fr 1fr;
  }

  .header::before { top: 20px; right: 20px; }
  .footer::before { top: 20px; right: 20px; }

  .header::after { bottom: 20px; left: 20px; }
  .footer::after { bottom: 20px; left: 20px; }

  .decorative-text {
    top: 20px;
    right: 48px;
    margin-bottom: 40px;
  }

  .header__theme-menu {
    align-self: end;
    padding: 0px 20px 52px 0px;
  }

  .header__title {
    display: flex;
    align-items: center;
    margin-left: 0px;
    font-size: var(--font-size-tablet-pc);
  }

  .header__paragraph {
    justify-self: end;
    min-width: 364px;
    margin: 41px 20px 0px 0px;
  }

  .main {
    display: grid;
    gap: 80px;
    padding: 0px 20px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .concentration {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .concentration .section__title {
    grid-column: 1 / 2;
  }

  .concentration .section__article {
    grid-column: 1 / 5;
  }

  .tips-section {
    grid-template-rows: 4px;
  }

  .tips-section .section__article {
    grid-column: 2;
  }

  .card__title_font_normal {
    margin-top: 16px;
  }

  .img-section {
    grid-template-columns: none;
  }

  .section__article-img {
    display: block;
    width: 100%;
    max-width: none;
    height: 100%;
    object-fit: cover;
  }

  .img-article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "title title title"
      "sunset sunset ice"
      "tape books ice"
      "tape street street";
    gap: 20px;
  }

  .img-title {
    grid-area: title;
  }

  .img-sunset {
    grid-area: sunset;
  }

  .img-ice-cream {
    grid-area: ice;
  }

  .img-tape {
    grid-area: tape;
  }

  .img-books {
    grid-area: books;
  }

  .img-street {
    grid-area: street;
  }

  .footer__title {
    justify-self: center;
    padding: 0px;
    font-size: var(--font-size-tablet-pc);
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: stretch;
    padding: 18px 0px 0px;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__title {
    font-size: var(--font-size-tablet-pc);
  }

  .header__paragraph {
    min-width: 491px;
    margin: 50px 20px;
  }

  .section {
    gap: 11px;
  }

  .concentration {
    grid-template-columns: repeat(3, 1fr);
    gap: 0px 20px;
  }

  .concentration .section__article-card {
    grid-row: 2;
    max-width: 315px;
  }

  .tips-section {
    grid-template-rows: 12px;
  }

  .card__title_font_normal {
    margin-top: 20px;
  }

  .footer__title {
    font-size: var(--font-size-tablet-pc);
  }
}
